header{
    background-color: #008B8B;
    padding: 0.25rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 20.1rem;

}

body{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;
    margin: 0px;
}

nav{

    float: left;
    padding: 2rem;
}


nav a{
    padding-top: 6px;
    padding-top: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 0px;
    margin-left: 6px;
    margin-right: 6px;
    background-color: #eee;
    border-radius: 25px;
    text-decoration: none;
    border-bottom: white;
    border-bottom-style: solid;
    border-width: 5px;
}

nav a:hover{
    border-color: #444;
}

nav a:hover{
    border-color: #444;
}

input{
    position:absolute;
    float: right;
    right: 0;
    background-color:#524942;
    color:grey;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 25px;
    padding: 10px;
}

input:focus{
    background-color: black;
    color: yellow;
}



main{
    margin-left: 22rem;
}

.principal{
    background-color: white;
    width: 80%;
    margin-top: 13rem;
    margin-left: 6.2rem;
    padding: 1.25rem;

}

.img1{
    margin-top: -100px;
    margin-left: -100px;
}

.vazio{

    height: 3rem;
    width: 3rem;
    background-color: #ccc;
    margin-left: 100px;
    margin-top: -100px;
}

h2{
    width: 50%;
    margin-left: 49%;
    position: relative;
    top: -4.5rem;
    font-size: 1.5rem;
    background-color: #008B8B;
    color: white;
    padding: 0.6rem;
    border-radius: 1.2rem;
}


p{
    padding-top: 40px;
}

.texto{
    margin: 0.1rempx;
}

aside{
    text-align: center;
    width: 6rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 7em;
    background-color: #ccc;
}



.cenadelado{
    position: absolute;
    bottom: 6rem;
    left: 2rem;
    right: 2rem;
    background-color: transparent;
}
.bolinha{
    width: 7rem;
    border-width: 8px;
    border-style: solid;
    border-color: #008B8B;
    border-radius: 100%;
}

.mfig {
    font-size: 3.5rem;
}

.textmfig {
    text-align: center;
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: -15px;
    margin-bottom: -106px;
}

iframe{
    /* o video n fica n sitio falar com o prof*/
    margin-left: 520px;
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 5px;

}